<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#"/>
    <link href="{{ url_for('static', filename='css/frames/calculator_frame.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bstrap/bootstrap.min.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Calculator frame</title>
    <script src="static/js/selection_rules.js"></script>
    <script>
        function forceSubmit(){
             document.getElementById("submit").click()
        }


    </script>
</head>

<body style="background-color:#96897f;">
{% block content %}

<form action="" method="POST">
    {{form.csrf_token}}

    <div class="form-group">
        <div class="full-card">
            <h1 class="main-label">
                Ragnarok calculator
            </h1>
            <div class="main-card">

                <table class="tborder">
                    <tbody>
                    <tr></tr>

                    <tr>
                        <td class="data">
                            <table>
                                <tbody>
                                <tr class="thin">
                                    <td class="right">Placeholder</td>
                                </tr>

                                <tr class="thin">
                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>
                                <tr>

                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Placeholder</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="full-card">

            <h1 class="status-label">
                <div class="status-title>">Status</div>
            </h1>

            <div class="main-card">
                <table class="main-table">
                    <tbody class="status-body">
                    <tr class="status-title">
                        <td colspan="6" class="tableframe-title">Remaining points:
                            {{player_info['complex_info'].attribute_balance}}
                        </td>
                    </tr>

                    <tr class="status-content">
                        <td class="level-content">
                            <table class="level-list">
                                <tbody>
                                <tr class="level-item">
                                    <td>Base level:</td>
                                    <td class="">
                                        {{form.base_level(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Job lvl</td>
                                    <td>
                                        {{form.job_level(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Class</td>
                                    <td>
                                        {{form.class_name(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Null</td>
                                    <td>Select null</td>
                                </tr>
                                <tr class="level-item">
                                    <td>Null</td>
                                    <td>Select null</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="attribute-content">
                            <table class="status-list">
                                <tbody>
                                <tr class="attribute-item">
                                    <td class="stat-text">STR</td>
                                    <td class="stat-select">
                                        {{form.player_str(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].str_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        AGI
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_agi(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].agi_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        VIT
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_vit(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].vit_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        INT
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_int(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].int_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        DEX
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_dex(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].dex_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        LUK
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_luk(class="droplist", onchange="forceSubmit()")}}
                                    <td class="stat-bonus">+{{player_info['complex_info'].luk_bonus}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="complex-c3">
                            <table class="c3-list">
                                <tbody>
                                <tr class="c3-item">
                                    <td class="c3-line-left">Max HP</td>
                                    <td class="c3-line-right"><b>{{player_info['complex_info'].max_hp}}</b></td>
                                </tr>
                                <tr class="c3-item">
                                    <td class="c3-line-left">Max SP</td>
                                    <td class="c3-line-right"><b>{{player_info['complex_info'].max_sp}}</b></td>
                                </tr>
                                <tr class="c3-item">
                                    <td class="c3-line-left">HP Regen</td>
                                    <td class="c3-line-right"><b>{{player_info['complex_info'].hp_regen}}</b></td>
                                </tr>
                                <tr class="c3-item">
                                    <td class="c3-line-left">SP Regen</td>
                                    <td class="c3-line-right"><b>{{player_info['complex_info'].sp_regen}}</b></td>
                                </tr>
                                <tr class="c3-item">
                                    <td class="c3-line-left">Mov speed</td>
                                    <td class="c3-line-right"><b>140%</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="complex-c1">
                            <table class="c1-list">
                                <tbody>
                                <tr class="c1-item">
                                    <td class="c1-line-left">ATK</td>
                                    <td class="c1-line-right"><b>30+0</b></td>
                                </tr>
                                <tr class="c1-item">
                                    <td class="c1-line-left">MATK</td>
                                    <td class="c1-line-right"><b>40~80</b></td>
                                </tr>
                                <tr class="c1-item">
                                    <td class="c1-line-left">Hit</td>
                                    <td class="c1-line-right"><b>{{player_info['complex_info'].hit}}</b></td>
                                </tr>
                                <tr class="c1-item">
                                    <td class="c1-line-left">Crit</td>
                                    <td class="c1-line-right"><b>{{player_info['complex_info'].critical}}</b></td>
                                </tr>
                                <tr class="c1-item">
                                    <td class="c1-line-left">CritShi</td>
                                    <td class="c1-line-right"><b>{{player_info['complex_info'].critical_shield}}</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="complex-c2">
                            <table class="c2-list">
                                <tbody>
                                <tr class="c2-item">
                                    <td class="c2-line-left">DEF</td>
                                    <td class="c2-line-right"><b>10+5</b></td>
                                </tr>
                                <tr class="c2-item">
                                    <td class="c2-line-left">MDEF</td>
                                    <td class="c2-line-right"><b>2+15</b></td>
                                </tr>
                                <tr class="c2-item">
                                    <td class="c2-line-left">Flee</td>
                                    <td class="c2-line-right"><b>{{player_info['complex_info'].flee}}</b></td>
                                </tr>
                                <tr class="c2-item">
                                    <td class="c2-line-left">ASPD</td>
                                    <td class="c2-line-right"><b>168</b></td>
                                </tr>
                                <tr class="c2-item">
                                    <td class="c2-line-left">Pdodge</td>
                                    <td class="c2-line-right"><b>{{player_info['complex_info'].perfect_dodge}}</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>



                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <input type="submit" id="submit" value="Submit" onclick="" style="display: none;"><br>
</form>

<br><br>
<h3>{{player_info}}</h3>

{% endblock %}
</body>
</html>