<!doctype html>
<html lang="pt-br">
<head>
    <link href="{{ url_for('static', filename='css/calculator.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calculadora</title>
</head>


<body>

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Calculator</li>
                <li class="breadcrumb-item"><a href="http://localhost:5000/protected">User Profile</a></li>
                <li class="breadcrumb-item"><a href="http://localhost:5000/dropsession">Logout</a></li>
            </ol>
        </nav>

<!--        <h1 class="main-label">-->
<!--            Ragnarok Calculator-->
<!--        </h1>-->
    </div>
</div>




{% endblock %}

</body>
</html>