<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/frames/calculator_frame.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Calculator frame</title>
</head>

<body style="background-color:#96897f;">

<div class="full-card">
    <h1 class="main-label">
        Ragnarok calculator
    </h1>
    <div class="main-card">
        ae
    </div>
</div>

<div class="full-card">
    <h1 class="save-label">
        <div class="save-title>">Status</div>
    </h1>
    <div class="main-card">
        ae
    </div>
</div>

<select id="theme">
    <option value="0">Original</option>
    <option value="1">Blue</option>
    <option value="2">Cake</option>
    <option value="3">Niff</option>
</select>


</body>
</html>