<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Calculator</a></li>
                <li class="breadcrumb-item"><a href="http://localhost:5000/protected">User Profile</a></li>
                <li class="breadcrumb-item"><a href="http://localhost:5000/dropsession">Logout</a></li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}

</body>
</html>