<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#"/>
    <link href="{{ url_for('static', filename='css/frames/calculator_frame.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bstrap/bootstrap.min.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Calculator frame</title>
    <script src="static/js/selection_rules.js"></script>
    <script>
        function forceSubmit(){
             document.getElementById("submit").click();
        }

        function forceRender(){
            var timestamp = new Date().getTime();
            var src = "static/assets/custom.png?t=" + timestamp
            return src;
        }

        function forceRender2(){
            var timestamp = new Date().getTime();
            var src = "static/assets/equip_custom.png?t=" + timestamp
            return src;
        }





































    </script>
</head>

<body style="background-color:#96897f;">
{% block content %}


<form action="" method="POST">
    {{form.csrf_token}}

    <div class="form-group">
        <div class="full-card">
            <h1 class="main-label">
                Ragnarok calculator
            </h1>
            <div class="main-card">

                <table class="tborder">
                    <tbody>
                    <tr></tr>

                    <tr>
                        <td class="data">
                            <table>
                                <tbody>
                                <tr class="thin">
                                    <td class="right">Placeholder</td>
                                </tr>

                                <tr class="thin">
                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>
                                <tr>

                                    <td class="right">Placeholder</td>
                                    <td> Select Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Placeholder</td>
                                </tr>

                                <tr>
                                    <td class="right">Placeholder</td>
                                    <td> Placeholder</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="full-card">

            <h1 class="status-label">
                <div class="status-title>">Status</div>
            </h1>

            <div class="main-card">
                <table class="main-table">
                    <tbody class="status-body">
                    <tr class="status-title">
                        <td colspan="6" class="tableframe-title">Remaining points:
                            {{player_info['complex_info'].attribute_balance}}
                        </td>
                    </tr>

                    <tr class="status-content">
                        <td class="level-content">
                            <table class="level-list">
                                <tbody>
                                <tr class="level-item">
                                    <td>Base level:</td>
                                    <td class="">
                                        {{form.base_level(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Job lvl</td>
                                    <td>
                                        {{form.job_level(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Class</td>
                                    <td>
                                        {{form.class_name(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                </tr>
                                <tr class="level-item">
                                    <td>Gender</td>
                                    <td>{{form.player_gender(class="droplist", onchange="forceSubmit()")}}</td>
                                </tr>
                                <tr class="level-item">
                                    <td>Null</td>
                                    <td>Select null</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="attribute-content">
                            <table class="status-list">
                                <tbody>
                                <tr class="attribute-item">
                                    <td class="stat-text">STR</td>
                                    <td class="stat-select">
                                        {{form.player_str(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].str_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        AGI
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_agi(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].agi_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        VIT
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_vit(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].vit_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        INT
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_int(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].int_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        DEX
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_dex(class="droplist", onchange="forceSubmit()")}}
                                    </td>
                                    <td class="stat-bonus">+{{player_info['complex_info'].dex_bonus}}</td>
                                </tr>
                                <tr class="attribute-item">
                                    <td class="stat-text">
                                        LUK
                                    </td>
                                    <td class="stat-select">
                                        {{form.player_luk(class="droplist", onchange="forceSubmit()")}}
                                    <td class="stat-bonus">+{{player_info['complex_info'].luk_bonus}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="complex-image" style="display:block; margin-top: 20px; margin-right: 10px;">
                            <img id="target_image" src=a" onerror="this.src=forceRender()" width="100%" height="100%">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="gear-table">
                    <tbody class="gear-body">
                    <tr class="gear-title">
                        <td colspan="6" class="gearframe-title">
                            Remaining points: This is a placeholder
                        </td>
                    </tr>
                    <tr class="gear-content">
                        <td class="gear-content">
                            <table class="level-list">
                                <tbody>
                                <tr class="headtop">
                                    <td class="gear-selection">
                                        {{form.headtop_item(class="gearlist", onchange="forceSubmit()")}}
                                    </td>
                                    <td style="width: 20px;">
                                        {% if is_refineable(form.headtop_item.data) %}
                                        {{form.headtop_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.headtop_item.data) %}
                                        {{form.headtop_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="headmid">
                                    <td>
                                        {{form.headmid_item(class="gearlist", onchange="forceSubmit()")}}
                                    </td>
                                    <td>
                                        {% if is_refineable(form.headmid_item.data) %}
                                        {{form.headmid_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.headmid_item.data) %}
                                        {{form.headmid_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="headlow">
                                    <td>
                                        {{form.headlow_item(class="gearlist", onchange="forceSubmit()")}}
                                    </td>
                                    <td>
                                        {% if is_refineable(form.headlow_item.data) %}
                                        {{form.headlow_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.headlow_item.data) %}
                                        {{form.headlow_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="shield">
                                    <td>
                                        {{form.shield_item(class="gearlist", onchange="forceSubmit()")}}
                                    </td>
                                    <td>
                                        {% if is_refineable(form.shield_item.data) %}
                                        {{form.shield_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.shield_item.data) %}
                                        {{form.shield_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="shoes">
                                    <td>{{form.shoes_item(class="gearlist", onchange="forceSubmit()")}}</td>
                                    <td>
                                        {% if is_refineable(form.shoes_item.data) %}
                                        {{form.shoes_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.shoes_item.data) %}
                                        {{form.shoes_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="armor">
                                    <td>{{form.armor_item(class="gearlist", onchange="forceSubmit()")}}</td>
                                    <td>
                                        {% if is_refineable(form.armor_item.data) %}
                                        {{form.armor_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.armor_item.data) %}
                                        {{form.armor_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="robe">
                                    <td>{{form.robe_item(class="gearlist", onchange="forceSubmit()")}}</td>
                                    <td>
                                        {% if is_refineable(form.robe_item.data) %}
                                        {{form.robe_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.robe_item.data) %}
                                        {{form.robe_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="accessory1">
                                    <td>{{form.accessory1_item(class="gearlist", onchange="forceSubmit()")}}</td>
                                    <td>
                                        {% if is_refineable(form.accessory1_item.data) %}
                                        {{form.accessory1_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.accessory1_item.data) %}
                                        {{form.accessory1_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="accessory2">
                                    <td>{{form.accessory2_item(class="gearlist", onchange="forceSubmit()")}}</td>
                                    <td>
                                        {% if is_refineable(form.accessory2_item.data) %}
                                        {{form.accessory2_refine(class="gear_refine", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if has_slots(form.accessory2_item.data) %}
                                        {{form.accessory2_card_list(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="attribute-content">a</td>
                    </tr>
                    </tbody>
                </table>

                <table class="gear-image">
                    <tbody class="gear-image-body">
                    <tr>
                        <td style="vertical-align:top;">
                            <table class="weapon-list" style="border: 0px;">
                                <tbody>
                                <tr class="headtop">
                                    <td class="gear-selection">
                                        {{form.weapon_item(class="gearlist", onchange="forceSubmit()")}}
                                    </td>
                                    <td id="refine" style="width: 20px;">
                                        {{form.weapon_refine(class="gear_refine", onchange="forceSubmit()")}}
                                    </td>
                                    <td>
                                        Elemento
                                    </td>
                                </tr>
                                <tr class="headmid">
                                    <td>
                                        {% if has_slots(form.weapon_item.data) %}
                                        {{form.weapon_card_1(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="headlow">
                                    <td>
                                        {% if has_slots(form.weapon_item.data) %}
                                        {% if has_multiple_slots(form.weapon_item.data) > 1 %}
                                        {{form.weapon_card_2(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="shield">
                                    <td>
                                        {% if has_slots(form.weapon_item.data) %}
                                        {% if has_multiple_slots(form.weapon_item.data) > 2 %}
                                        {{form.weapon_card_3(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="shoes">
                                    <td>
                                        {% if has_slots(form.weapon_item.data) %}
                                        {% if has_multiple_slots(form.weapon_item.data) > 3 %}
                                        {{form.weapon_card_4(class="gear_card", onchange="forceSubmit()")}}
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align:top;">
                            <img id="target_image2" src=a" onerror="this.src=forceRender2()" width="100%" height="5%"
                                 style="display:block; margin-top: 50px; margin-bottom: 50px;
                             margin-right: 15px; margin-left: auto; align: center;">
                        </td>


                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <input type="submit" id="submit" value="Submit" onclick="" style="display: none;"><br>
</form>

<br><br>
<h3>{{player_info}}</h3>

{% endblock %}
</body>
</html>