<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/selection_rules.js"></script>

    <script>


        function myNewFunction(sel) {
            alert(sel.options[sel.selectedIndex].text);
        }

        function showSelectedCar() {
            var obterId = document.getElementsByClassName('testObter');
            const id = obterId[0].id

            var car_model = document.getElementById('select-joblevel')
            var selected = document.getElementById('view_selected')

            if(car_model && selected) {
                var car_model_text = car_model.options[car_model.selectedIndex].value;
                selected.innerHTML = `car model: ${car_model_text} id: ${id}`;
            }

            return JSON.stringify({id, car_model});
        }

        function forceSubmit(){
             document.getElementById("submit").click()
        }
    </script>

    <style>
        .select{
            border:0 none;
            margin:1px;
            background-color:#FC8;
            border-radius:7px;
        }

        .droplist{
            background-color: #e0dada;
        }
    </style>

</head>

<body>
{% block content %}


<h2>Choose your car</h2>
<select id="slct1" onchange="populate(this.id, 'select-joblevel')" name="carro" class="drop-list">
    <option value=""></option>
    {% for item in joblist %}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}
</select>

<h2>Choose car model</h2>

<!--<h2>{{joblist}}</h2>-->

<h2>{{dynamic_choose(gerinaldo)}}</h2>

<h2 id="view_selected"></h2>

<div class="testObter" id={{gerinaldo}}></div>

Calculator: <select id="select-joblevel" class="droplist" name="build" onchange="showSelectedCar()"></select><br>

<br>
<br>

<select id="class_name" name="class_name" style="background-color: #e0dada;">
    <option value="Novice">Novice</option>
    <option value="Super_novice">SUPERR</option>
</select>

<form action="" method="POST">
    {{form.csrf_token}}
    <div class="form-group">
        <label>Base level:</label>
        {{form.base_level(class="form-control", onchange="forceSubmit()")}}<br>
        <label>Class:</label>
        {{form.class_name(class="form-control",  onchange="forceSubmit()")}}<br>
        <label>Job level:</label>
        {{form.job_level(class="form-control",  onchange="forceSubmit()")}}<br>
    </div>
    <input type="submit" id="submit" class="btn btn-success">
</form>

<h2>{{exports}}</h2>

<h3>{{form}}</h3>

<button onclick="forceSubmit()">Botao inocente</button>

{% endblock %}
</body>
</html>