<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            color: #2b2b2b;
            font-family: "Roboto Condensed";
        }

        table{width: 40%;}

        th{
            text-align: left;
            color: #4679bd;
        }

        tbody > tr:nth-of-type(even) {background-color: #daeaff;}

        button{cursor: pointer; margin-top: 1rem;}
    </style>

    <script>
    </script>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>john@gmail.com</td>
        <td>USA</td>
    </tr>
    <tr>
        <td>Stephen Thomas</td>
        <td>stephen@gmail.com</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Natly Oath</td>
        <td>natly@gmail.com</td>
        <td>France</td>
    </tr>
</table>

<button onClick="">Export HTML Table to CSV</button>

</body>
</html>