.main-label{
    text-align:center;
    margin:0;
    color: white;
    border-radius:20px 20px 0 0;
    background: url('/static/assets/sunset.jpeg');
    background-color:#466;
    padding-left:20px;
    padding-top:5px;
    height:52px;
    font-family:sans-serif;
    font-size:1.65em;
    letter-spacing:0.3px;
    font-variant:inherit;
    line-height:200%;
}

.main-card{
	border:1px solid #999;
	background-color:#FFF;
	padding: 15px 25px 15px 25px;
	border-radius: 0 0 20px 20px;
	box-shadow: 5px 15px 5px 0px #888888 !important;
	position: relative;
	z-index: 10;
}

.full-card{
    padding-top:20px;
    padding-down:20px;

    padding-left:300px;
    padding-right:300px;
}

.select{
    border:0 none;
    margin:1px;
    background-color:#FC8;
    border-radius:7px;
}



.status-title{
    opacity: 1;
    margin-down: 5px;
    vertical-align: baseline;
}

.gear-title{
    opacity: 1;
    margin-down: 5px;
    vertical-align: baseline;
}

.status-body{
    opacity: 1;
}

.main-table{
    opacity: 1;
    border: 0px ridge;
    padding: 100px 0px 100px 0px;
}

.gear-table{
    border: 0px ridge;
    margin-top: 30px;
}


.status-label{
    margin: 0px;
    text-align:center;
    color: white;
    border-radius:20px 20px 0 0;
    background: None;
    background-color: #466;
    opacity: 0.6;
    font-size:1.35em;
    padding-top:0px;
    padding-down:0px;
    height:42px;
    font-family:sans-serif;
    font-size:1.55em;
    letter-spacing:0.3px;
    font-variant:inherit;
    line-height:180%;
}

.data {
    border-right: 1px dotted #999;
    padding-right: 2px;
}

table{
    width: 100%;
    border-spacing: 0;
    border: 2px ridge;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding: 0 0 0 4px;
    margin: 0;
    vertical-align: middle;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.thin select{
	height:16px;
	margin:1px;
}

.right{
	float:right;
	font-weight:lighter;
}

.tableframe-title {
    padding: 2px 6px 2px 6px;
    color: #FFF;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #466;
    border-radius: 20px 20px 0 0;
}

.gearframe-title{
    padding: 2px 6px 2px 6px;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    margin-top: 5px;
    background-color: #a5fa93;
    text-align:center;
}

.tablecontent {
    padding: 30px 1px 1px 1px;
}

.thickframe {
    border: 1px solid #999;
    border-collapse: collapse;
    margin: 0 15px 12px 0;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 20px 20px 0 0;
}

.status-content{
    height: 200%;
    border: 2px solid;
    margin-top: 5px;
}

.gear-content{
    height: 200%;
    border: 2px solid;
    margin-top: 5px;
}

.level-content{
    padding: 0px 10px 0px 10px;
}

.tableframe-title{
    text-align:center;
    font-variant: small-caps;
}

.droplist{
    background-color: #e0dada;
}

.gearlist{
    background-color: #e0dada;
    width: 200px;
}

.gear_refine{
    background-color: #e0dada;
    width: 45px;
}

.gear_card{
    background-color: #e0dada;
    width: 170px;
}

.gear-selection{
    width: 200px;
}

class_name{
    background-color: #e0dada;
}

.form-control{
    background-color: #e0dada;
}

.complex-table{
    border: 0px ridge;
}

.complex-content{
    padding-right: 20px;
}

.attribute-content{
    padding: 10px 5px 10px 5px;
}

.complex-c3{
    padding-right: 25px;
}

.complex-c2{
    padding-right: 25px;
}

.complex-c1{
    padding-right: 25px;
    padding-left: 10px;
}

.status-list{
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.stat-bonus{
    font-weight: bold;
    padding-left: 0px;
    text-align: left;
    width: 1px
}

.stat-text{
    width: 1px;
}

.stat-select{
    width: 1px;
}

.attribute-item{
    width: 100px;
}





