.login select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.login {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('../../../assets/img/login-background.jpg') fixed no-repeat center/cover;
}

.login-container {
	min-width: 290px;
	background: white;
	border-radius: 5px;
	padding: 20px;
	color: #222;
}

.login-user-info {
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
	padding: 15px;
	transition: 500ms transform;
}

.login-user-data {
	display: flex;
	flex-direction: column;
}

.login-success {
	color: var(--green);
}

.login-failed {
	color: var(--danger);
}

.login-sucess, .login-failed {
	animation: fade-in 500ms forwards;
}

.login-success::first-line, .login-failed::first-line {
	font-weight: 700;
}

.login-user-data small {
	color: var(--danger);
	animation: fade-in 500ms forwards;
}

.login-errors p {
	color: var(--danger);
	animation: fade-in 500ms forwards;
}

.login-buttons button:disabled {
	background: #eee !important;
	color: #ddd !important;
}

.login-buttons button {
	padding: 10px 20px;
	border-radius: 25px;
	background: var(--main-color);
	color: white;
	font-weight: 500;
	transition: 200ms background, 200ms color;
	margin: 0 10px;
}

.login-buttons button:hover {
	background: var(--secondary-color);
}

.login div {
	margin-bottom: 15px;
}

.login input, .login select {
	margin: 5px 10px;
	padding: 10px 20px;
	background: #eee;
	border-radius: 5px;
	font-size: 1em;
}

#login-logo {
	width: 15vw;
}

@media (max-width: 470px) {
	.login {
		font-size: 3vw;
	}
	.login input, .login select {
		min-width: 80%;
	}
}