<div class="login page background">

	<div class="login-container">
		<img id='login-logo' src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Black.png" />

		<p>Pronto para ouvir novas playlists?</p>
		<div class="login-user-info">

			<div class="login-failed" *ngIf='failedLogin'>
				<p>E-mail não cadastrado!</p>
			</div>

			<form [formGroup]='login' (ngSubmit)='onSubmit()'>
				<div class="login-user-data">
					<input type="email" formControlName='email' placeholder='Digite o seu e-mail' required>
					<small *ngIf='email.touched && email.value && email.errors?.required'>Preencha este espaço</small>

					<input type="password" formControlName='password' placeholder='Digite a sua senha' required>
					<small *ngIf='password.touched && password.value && password.errors?.required'>Preencha este
						espaço</small>
				</div>
				<div class='login-buttons'>
					<button type="submit" [disabled]="!login.valid">Entrar</button>
					<button routerLink='/register'>Criar conta</button>
					<!-- Ao invés de levar o usuário para a página principal, redirecioná-lo para a página de login -->
				</div>
			</form>
		</div>
	</div>
</div>