body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}























.myclass{
    color: #329ba8FF;
}

.bs-example{
    margin: 50px;
}

.small-item{
    display: inline-block;
    width: 100%;
    padding: 0.05rem 1.0rem;
    clear: both;
    font-weight: 400;
    color:  rgba(200,20,0,1);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.select{
    border:0 none;
    margin:1px;
    background-color:#FC8;
    border-radius:7px;
}

.main-label{
    text-align:center;
    margin:0;
    color: white;
    border-radius:20px 20px 0 0;
    background: url('/static/assets/sunset.jpeg');
    background-color:#466;
    padding-left:20px;
    height:52px;
    font-family:sans-serif;
    font-size:1.65em;
    letter-spacing:0.3px;
    font-variant:inherit;
    line-height:200%;
}

.main-card{
    border:1px solid #999;
	background-color:#FFF;
	padding:15px;
}



